.Section1 {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-bottom: 3px black solid;
  padding: 20px;
  font-size: 18px;
  line-height: .5;
}

.Header-Name {
  font-weight: 500;
  margin-top: 1px;
}

.Title {
  font-weight: 170;
  margin-top: 1px;
  color: grey;
}

.Desc {
  line-height: 1.3;
  font-size: 17px;
}
